<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-3">{{title}}</h1>
        <p>Jot your video ideas for your Video channels</p>
        <a href="/ideas/add" class="btn btn-dark">Add Ideas</a>
    </div>
</div>