

<div class="container">
    <div class="card card-body">

        <h3>Add Idea</h3>
        <form action="/ideas" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea name="details" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Add idea</button>
        </form>
    </div>
</div>